<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>portfolio</title>
  </head>
  <body>
    <h1>Yuta Hirayama Portfolio Top</h1>
    <p>ポートフォリオサイトをご覧いただきありがとうございます。</p>
    <p>こちらのページに順次作品を追加していきます。</p>

    <h2>GitHub</h2>
    <p>普段はGitLabを利用しており，研究室との約束の関係で公開できる情報が少ないですがお許しください。</p>
    <a href="https://github.com/utsxer">GitHub</a>
  
    <h2>面談予約サイト</h2>
    <h3>説明</h3>
    <p>オープンラボ用に四名で集団開発を行った面談予約専用ウェブサイトです。</p>
    <p>2022年度のオープンラボでは100名程度の同時利用に耐え抜きました。</p>
    <p>こちらはソースコードは公開しない約束でポートフォリオに掲載しておりますので,ソースコードはお見せできません。ご了承ください。</p>

    <h3>開発技術セット</h3>
    
    <h3>担当箇所</h3>

    <h3>サイトURL</h3>
    <a href="">面談予約サイト</a>

    <h2>自作AltJS</h2>
    <h3>説明</h3>
    <p>ソフトウェア工学の特性上研究で言語処理系や構文解析を利用することが多いため，構文解析の概要を掴むために作成しました。</p>
    <p>作成したソフトウェアを利用すれば<a href="https://web.archive.org/web/20150618184706/http://compsoc.dur.ac.uk/whitespace/tutorial.php">WhiteSpace</a>という言語をJavaScriptにトランスパイルすることが可能です。</p>
    <p>内部で生成されるコードの計算モデルはスタックマシンで，JavaScriptの配列をうまく使うことで再現しています。</p>
    
    <h3>開発技術セット</h3>

    <h3>サイトURL</h3>
    <a href="https://github.com/utsxer/white-spaceJS">GitHub</a>
    <a href="">実際に動かせる場所</a>

    
  </body>
</html>